target/
!.mvn/wrapper/maven-wrapper.jar
src/main/resources/application-wm.properties
src/main/resources/application-release.properties
src/main/resources/application.properties
/data/
application.properties
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.log
*.iws
*.iml
*.ipr
*.DS_Store
Dump20180326.sql
info.log.*
/log

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/