<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.bootDemo.prepare.mapper.GoodMapper">

    <resultMap id="BaseResultMap" type="com.example.bootDemo.prepare.vo.GoodVo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="DOUBLE"/>
        <result column="num" property="num" jdbcType="INTEGER"/>
        <result column="isBuy" property="isBuy" jdbcType="VARCHAR"/>
        <result column="mark" property="mark" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getGoods" parameterType="String" resultMap="BaseResultMap">
        select * from goods g
        where g.status = 1
        <if test="name != null and name != ''">
            and g.name like CONCAT('%',#{name,jdbcType=VARCHAR},'%')
        </if>
    </select>


    <insert id="addGood">
        insert into goods (status)
        values (1)
    </insert>

    <update id="deleteGood" parameterType="Integer">
        update goods
        set status = 0
        where id = #{id}
    </update>

    <update id="saveGood" parameterType="com.example.bootDemo.prepare.model.Good">
        update goods
        <set>
            <if test="good.name != null and good.name != ''">
                name = #{good.name},
            </if>
            <if test="good.price != null">
                price = #{good.price},
            </if>
            <if test="good.num != null">
                num = #{good.num},
            </if>
            <if test="good.isBuy != null and good.isBuy != ''">
                isBuy = #{good.isBuy},
            </if>
            <if test="good.mark != null and good.mark != ''">
                mark = #{good.mark},
            </if>
        </set>
        where id = #{good.id}
        and status = 1
    </update>
</mapper>